body{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #457b9d;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:repeat(4,1fr);
    width: 50vh;

    background-color: #1d3557;
    border: 5px solid #1d3557;
    color: #ddd8d8;
    padding: 1px;
    grid-gap: 5px;


}
.number, .operator, .decimal, .display, .clear, .percent{
    border: 1px solid #457b9d;
    font-size: 30px;
    padding: 15px;
    align-self: center;
    justify-items: center;
    background-color: #0a254b;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}
.operator{
    background-color:#005f73;
}
.display{
    background-color: rgb(200, 214, 200);
    color: rgb(19, 5, 5);
}

.display{
align-items: flex-end;
    grid-column: 1/5;
}
.clear{
    grid-column: 1/3;
    background-color:#ee8b09;
}
.operator0{
    grid-row: 2;
    grid-column: 4;
}
.operator1{
    grid-row: 3;
    grid-column: 4;

}
.operator2{
    grid-row: 4;
    grid-column: 4;

}
.operator3{
    grid-row: 5;
    grid-column: 4;

}
.operator4{
    grid-row: 6;
    grid-column: 4;
    background-color: #ee8b09;

}
.number0{
    grid-column: 1/3;
}