

.numbers{
    color:black;
    
}
.container{
    display: flex;
    justify-content:stretch;
    align-items: stretch;
    flex-direction: column;
    width: 20em;
    height: 17em;
    background-color: rgb(192, 192, 127);
}
.row{
    display: flex;
    justify-content:space-around;
    align-items:stretch;

    
    
}
button{
    font-size:2em;
    width: 20%
}
 .number{
    color: #42428a;
    background-color: #e5e5f0;

}
.decimal{
    color: #42428a;
    background-color: #e5e5f0;

}
.display{
    width:100%;
    color: black;
    background-color: cornflowerblue;

    
}
.operator{
    color: burlywood;
}