body{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #457b9d;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows:repeat(4,auto);
    width: 350px;
  height:450px;

    background-color: #1d3557;
    border: 5px solid #1d3557;
    color: #ddd8d8;
}
.number, .operator, .decimal, .display, .clear, .percent, .equal, .cancel{
    border: 1px solid #457b9d;
    font-size: 30px;
    padding: 15px;
    align-self: center;
    justify-items: center;
    background-color: #0a254b;
  text-align:center;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}
.container>div:active{
    background-color: #40b453;
}
.operator{
    background-color:#11476b;
}
.display{
    margin: 0 0 0 0;
    padding: 20px;
    background-color: rgb(200, 214, 200);
    color: rgb(19, 5, 5);
  text-align:right;
}

.display{
align-items: flex-end;
    grid-column: 1/5;
}
.clear{
    grid-column: 1/2;
    background-color:rgb(224, 110, 110);
}
.operator0{
    grid-row: 2;
    grid-column: 4;
}
.operator1{
    grid-row: 3;
    grid-column: 4;

}
.operator2{
    grid-row: 4;
    grid-column: 4;

}
.operator3{
    grid-row: 5;
    grid-column: 4;

}
.operator4{
    grid-row: 6;
    grid-column: 3/5;
    background-color: #d48319;
  

}
.number0{
    grid-column: 1/2;
}
.cancel{
  background-color:red;
}

